/* Estilos Globais*/
html
{
    height: 100px;   
}
body 
{
    background-color:  #1c0c3f;
    font-family: sans-serif ;
    color: #fff;
    margin: 0px;
}
.title{
    padding: 0 20px;
    font-size: 1.75em;
    text-transform: uppercase;
}
h1.title{
    margin: 40px auto 20px;
}
article.alinhamento-text
{
    margin: 0px 10px;
}
.text-justify {
    text-align: justify;
}
.text-center{
    text-align: center;
}
@media screen and (min-width:992px) {
   .width-50pct-desktop
    {
        width: 50% ! important;
    } 
    
    
}